:root{
  --inputwidth:20vw;
  --maxfont:5vw;
}
#container{
  width:100vw;
}
.normal_text {
    font-size:1.5em;
}

th{
  font-size:1em;
}

.winner{
  color:goldenrod;
}

.finished{
  color:silver;
}

/* CSS */
.control {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.control:hover,
.control:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.control:active {

  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.control:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


.instruction{
    width:50vw;
    display:block;
    margin-bottom: 5vh;
  }

.loser{
    color:red !important;
}

.general{
    color:#005b91;
    background-color: #F7F7F7;
}

.hidden{
  height:0px;
  visibility:hidden;
  overflow-y: hidden!important;
  }

  .frame_no{
    width:5vw;
  }
.score_input{
  max-width:var(--inputwidth);
  width:30vw
}
/*.heads{
  max-width:var(--inputwidth);
  font-size:var(--maxfont);
  overflow-wrap: break-word;
}
*/
#scores{
  table-layout:fixed;
  width:100%;
  /*border-style: solid;*/
}

#scores td{
 /* border-style: solid;*/
  text-align:center;
}
/*.score_input input{
  text-align:center!important;
}*/
